* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  font-size: 1.6rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid gainsboro;
  align-items: center;
  background-color: rgb(244, 246, 247);
}
.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.logo-wrapper i {
  color: rgb(102, 221, 72);
  font-size: 3rem;
}

.header-container a,
.section-btn li a {
  text-decoration: none;
}

.sign-in-button {
  background-color: rgb(3, 107, 3);
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: white;
  min-width: fit-content;
}
.nav-link {
  display: flex;
  gap: 3rem;
  list-style: none;
}
@media (max-width: 1100px) {
  .nav-link {
    display: none;
  }
  body {
    font-size: 1.2rem;
  }
}
.section-1 > p {
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: rgb(248, 246, 243);
}
.section-btn {
  display: flex;
  gap: 2rem;
}
.section1-list {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section1-list li span i {
  color: rgb(72, 224, 72);
  margin-right: 0.5rem;
}
.section1-list li {
  display: flex;
}
.section1-list li,
.section-btn li {
  list-style: none;
}
.section-btn2 {
  padding: 0.5rem 1rem;
  background-color: rgb(248, 249, 250);
  color: rgb(17, 17, 17);
  border-radius: 0.5rem;
  border: 1px solid lightgray;
}
.section-1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-basis: 50%;
}
.section-1 h1 {
  font-size: 2.5rem;
}
.section1-img img {
  width: 30rem;
  height: 30rem;
  border-radius: 1rem;
}
@media (max-width: 1040px) {
  .section1-img img {
    width: 22rem;
    height: 25rem;
  }
  .section-1 h1 {
    font-size: 2rem;
  }

  .section-1,
  .section-btn {
    font-size: 1rem;
  }
  .section-1 .section1-list,
  .section-1 .section1-list li {
    font-size: 1.2rem;
  }
  .section-1 .main-p,
  .section-1 .section-btn li a {
    font-size: 1rem;
  }
}
@media (max-width: 800px) {
  .main-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
  }
  .section1-img img {
    width: 25rem;
  }
  .cards {
    flex-direction: column;
  }

  .footer-text {
    flex-direction: column;
    gap: 1rem;
  }
}
@media (max-width: 450px) {
  body {
    font-size: 1rem;
  }
  .section-1 .section1-list,
  .section-1 .section1-list li {
    font-size: 1rem;
  }

  .section1-img img {
    width: 18rem;
    height: 20rem;
  }
  .section-btn {
    flex-direction: column;
    gap: 1.5rem;
  }
}

.main-section {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
.sction2-heading {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.heading-text {
  text-align: center;
}
.section2 {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(200, 241, 228);
  margin: 3rem 0 0 0;
  padding: 3rem 0;
}
.cards {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  width: 25rem;
  gap: 1rem;
  background-color: white;
  padding: 1.5rem 1.5rem;
  border-radius: 1rem;
}
@media (max-width: 1280px) and (min-width: 1041px) {
  .card {
    width: 20rem;
  }
}

@media (max-width: 1040px) {
  .card {
    width: 15rem;
  }
}

@media (max-width: 800px) {
  .card {
    width: 25rem;
  }
}
@media (max-width: 450px) {
  .card {
    width: 20rem;
  }
  .main-section .section-btn li a {
    display: block;
    width: 100%;
    text-align: center;
  }
  .section-1 h1 {
    font-size: 1.5rem;
  }
  .section-1 > p {
    font-size: 0.8rem;
  }
  .section2 {
    padding: 1.5rem 0;
    margin: 1.5rem 0;
    gap: 1.5rem;
  }
  .section3 {
    padding: 3rem 0;
    gap: 1.5rem;
  }

  .sction2-heading {
    align-items: center;
    width: 20rem;
  }
}
@media (max-width: 350px) {
  .card {
    width: 16rem;
  }
      .section1-img img{
        width: 16rem;
        height: 18rem;
      }
  .section-1 > p {
    font-size: 0.6rem;
  }
  .logo-wrapper i {
    font-size: 2rem;
  }
  .section-1 > p {
        font-size: 0.5rem;
    }
}
.card i {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(72, 224, 72);
  width: 2.5rem;
  height: 2.5rem;
  background-color: oklch(92.143% 0.02988 178.504);
  border-radius: 0.5rem;
}
.section3 {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 242, 239);
  padding: 1.5rem 0;
}
.section3 > .cards > .card {
  border: 1px solid lightgray;
}
.card2-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 2rem;
  color: rgb(32, 32, 32);
}
.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(200, 241, 228);
}
.section4-content {
  background-color: rgb(2, 97, 31);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 4rem 10rem;
  width: 100vw;
  min-width: 18rem;
}
.section4-content h2,
.section4-content p {
  color: white;
  text-align: center;
}
.section4-content a {
  background-color: white;
  color: rgb(20, 20, 20);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-decoration: none;
}
footer {
  margin-top: 4rem;
  text-align: center;
}
.footer-text {
  padding: 2rem;
  color: gray;
  display: flex;
  justify-content: space-between;
}
